<md-card >
 
 <md-card-content>
   <h2>ToDo App</h2>

    <md-button   ng-click='$state.go("/")' class="md-fab md-mini" aria-label="log out">
            <md-icon ><i class="material-icons">&#xE89E;</i></md-icon>
        </md-button>
           <md-button md-no-ink class="md-primary"></md-button>
                 <md-button md-no-ink class="md-primary" ng-click="newTask()">New Task</md-button>
                 <md-button md-no-ink class="md-primary">Edit Task</md-button>

   
 </md-card-content>
             

</md-card>

<md-card >
 
 <md-card-content ng-init='gettask()'>
   <pre>
   	{{getalltaskdata | json}}
   </pre>
 </md-card-content>
             

</md-card>
