<md-card style="margin-top:7%">
 
 <md-card-content>

   

<form name="carrymodelForm" >
<h2>New Task</h2>



  

<div flex>

                <md-input-container class="md-block margin0">

<label>Task Name</label>
                  <input  md-maxlength="100" minlength="3" type="text" name="TaskName" ng-model="carrymodel.taskname" required="true" >
                 </md-input-container>
        </div>

 <div flex>
                <md-input-container class="md-block " style="margin:4px 0 0 0 ;">
                <validation-true-false></validation-true-false>
                 <label> Description</label>
                 <textarea md-maxlength="300"  minlength="10" md-no-asterisk name="description" ng-model="carrymodel.description" required="true"></textarea>
                 </md-input-container>

              </div>

              <div flex>

                <md-input-container class="md-block margin0">

                    <label>created By</label>
                  <input  md-maxlength="100" minlength="3" type="text" name="UserGroupName" ng-model="carrymodel.createdby" required="true" >
                 </md-input-container>
        </div>
            <!-- End -->
        </div>

        <div class="md-block">
             <md-datepicker name="dob" ng-model="carrymodel.duedate"     md-placeholder="Due Date" ng-change="Ondateofbirth(dateofbirth)" required >
              </md-datepicker>
              

                    <md-button  style="margin-left: 90%" class="md-raised md-warn " ng-disabled="!carrymodelForm.$valid" ng-click="taskadded(carrymodel)">submit</md-button>
                          </div>


</form>
 </md-card-content>

 <!-- <pre>{{carrymodel|json}}</pre> -->
             

</md-card>